.error label {
	color: #FF6C00;
}
.error input, .error textarea, .error button {
	border: 3px solid #FF6C00;
}

.spreadForm input, .spreadForm textarea {
	background-color: #0000;
	color: #ffffff;
	margin-bottom: 10px;
}

.spreadList, .spreadInfo {
	margin-top: 20px;
}

.spreadInfo #historyInfo {
	float: right;
	text-align: right;
	color: #000000;
}

.spreadMap div {
	display: inline-block;
	width: 11%;
	margin-top: 10px;
}
.spreadMap .showPosition {
	transform: rotate(270deg);
	padding: 8px;
	border-radius: 22px;
}
.spreadMap .putPosition {
	opacity: 0.5;
}

#editPosition {
	position: relative;
	left: 100%;
	top: 9%;
}
#clearPosition {
	position: relative;
	left: 92%;
	top: 19%;
}