.error label {
	color: #FF6C00;
}
.error input, .error textarea, .error button {
	border: 3px solid #FF6C00;
}

.spreadForm input, .spreadForm textarea {
	background-color: #0000;
	color: #ffffff;
	margin-bottom: 10px;
}
.spreadForm .col-sm-6 {
	max-width: 49%;
}

.spreadList, .spreadInfo {
	margin-top: 20px;
}

.spreadList button {
	margin: 0 10px 10px 0;
}

.spreadInfo #historyInfo {
	float: right;
	text-align: right;
}
.spreadInfo #specificationInfo {
	color: #000000;
}
.spreadInfo #editSpread {
	float: right;
	opacity: 0.7;
	z-index: 5;
}

.spreadMap {
	margin-top: 10px;
}
.spreadMap div {
	display: inline-block;
	width: 11%;
	margin-top: 10px;
}
.spreadMap .showPosition {
	transform: rotate(270deg);
	padding: 8px;
	border-radius: 22px;
}
.spreadMap .putPosition {
	opacity: 0.5;
}

#editPosition {
	position: relative;
	left: 100%;
	top: 9%;
}
#clearPosition {
	position: relative;
	left: 92%;
	top: 50px;
}

.positionForm input, .positionForm textarea {
	background-color: #0000;
	color: #ffffff;
	margin-bottom: 10px;
}
.positionForm .nameInput {
	display: inline-block;
	width: 88%;
}
.positionForm .numberInput {
	display: inline-block;
	float: right;
	width: 11%;
}

#positionInfo label {
	color: #000000;
}