.error label {
	color: #FF6C00;
}
.error input, .error textarea, .error button {
	border: 3px solid #FF6C00;
}

.spreadForm input, .spreadForm textarea {
	background-color: #0000;
	color: #ffffff;
	margin-bottom: 10px;
}

.spreadList {
	margin-top: 20px;
}