body {
	background-image: url("/view/design/background/stone.jpg");
	background-size: 100%;
	color: #ffffff;
}

.topPanel {
	background-color: #000000;
	border: 2px solid #ffffff;
	border-radius: 5px;
	margin-bottom: 20px;
}
.topPanel h2 {
	font-family: initial;
	color: lightgray; 
	text-align: center; 
}

.backChangeButton {
	float: right; 
	margin-top: 12px;
}

.leftMenu {
	position: absolute;
	top: 55px;
	left: 15px;
	width: 12%;
	opacity: 0.7;
	border: solid 1px gray;
	border-radius: 33px;
	font-size: 1.2em;
}

.rightMenu {
	position: absolute;
	top: 55px;
	right: 75px;
	width: 7%;
	background: #110101;
	border-radius: 12px;
	padding: 0 0 0 10px;
}
.rightMenu button {
	margin: 10px;
	border: 3px solid #7A0011;
	border-radius: 13px;
}

.createSpreadForm label {
	font-size: 1.2em;
	padding-right: 11px;
}
.createSpreadForm .textInput {
	display: inline-block;
	padding-right: 0;
}
.createSpreadForm .textInput input {
	display: inline-block;
	width: 66%;
}
.createSpreadForm .numberInput {
	display: inline-block;
	padding-left: 77px;
	padding-right: 0;
	position: relative;
	left: 55px;
}
.createSpreadForm .numberInput input {
	width: 66px;
	display: inline-block;
	bottom: 2px;
	position: relative;
}