body {
	background-image: url("/view/design/background/stone.jpg");
	background-size: 100%;
	color: #ffffff;
	font-size: 1em;
}

.topPanel {
	background-color: #000000;
	border: 2px solid #ffffff;
	border-radius: 5px;
	margin-bottom: 20px;
}
.topPanel h2 {
	font-size: 1.1em !important;
	font-family: initial;
	color: lightgray; 
	text-align: center; 
}

.leftMenu {
	position: absolute;
	top: 55px;
	left: 15px;
	width: 12%;
	opacity: 0.7;
	border: solid 1px gray;
	border-radius: 33px;
	font-size: 1.2em;
}

.rightMenu {
	position: absolute;
	top: 55px;
	right: 15px;
	width: 10%;
	opacity: 0.7;
	background: #1a1926;
	border: 2px solid #747373;
	border-radius: 12px;
	padding: 0 0 0 10px;
}
.rightMenu button {
	border: 3px solid #3E2B2D;
	border-radius: 13px;
	margin: 10px;
}

.createSpreadForm label {
	padding-right: 11px;
}
.createSpreadForm .nameInput {
	display: inline-block;
}
.createSpreadForm .nameInput input {
	display: inline-block;
	width: 66%;
}
.createSpreadForm .numberInput {
	display: inline-block;
	margin-left: 11px;
	float: right;
}
.createSpreadForm .numberInput input {
	width: 66px;
	display: inline-block;
	bottom: 2px;
	position: relative;
}
.createSpreadForm .textInput {
	display: inline-block;
	width: 100%;
}

.spreadMap {
	margin-top: 20px;
}
.spreadMap div {
	display: inline-block;
	border: 2px solid #ffffff;
	border-radius: 33px; 
	padding-top: 4%;
	padding-bottom: 4%;
}
.spreadMap button {
	width: 50%;
	font-size: 0.8em;
	margin-left: 25%;
	padding: 7px;
}

.positionModal {
	background-color: #010408;
	border: 2px solid #26211d;
}

.createPositionForm label {
	padding-right: 11px;
}
.createPositionForm .nameInput {
	display: inline-block;
}
.createPositionForm .nameInput input {
	display: inline-block;
	width: 66%;
}
.createPositionForm .numberInput {
	display: inline-block;
	margin-left: 11px;
	float: right;
}
.createPositionForm .numberInput input {
	width: 66px;
	display: inline-block;
	bottom: 2px;
	position: relative;
}
.createPositionForm .textInput {
	display: inline-block;
	width: 100%;
}